<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 
 <!--*************************************************************************************************************************-->
 <!--Setter injection-->
 
 								 <!--1st way of doing setter injection using property and value tag-->
 								 
 <bean class="com.springCore.Student" name="student1">
 <property name="studentId">
 <value>112</value>
 </property>
 <property name="studentName">
 <value>Student1</value>
 </property>
 <property name="studentAddress">
 <value>Vatayan, 1836/1</value>
 </property>
 </bean>
 
							<!--2nd way of doing setter injection using property with value attribute-->
							
 <bean class="com.springCore.Student" name="student2">
 <property name="studentId" value="25"/>
 <property name="studentName" value = "Student2"/>
 <property name="studentAddress" value = "Ranchi"/>
 </bean> 
 
							<!--3rd way of doing setter injection using p schema-->
 <bean class="com.springCore.Student" name="student3" p:studentId = "123" p:studentAddress = "Patna" p:studentName = "Student3"/>
  
 <!--*************************************************************************************************************************-->
 
</beans>